<h1>
  Add a new recipe
</h1>


<hr>

<form action="/create_recipe" method="post">

  <div class="form-group">
    <label for="link">
      Link
    </label>

    <input type="text" id="link" name="link" class="form-control">
  </div>

  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @recipe.cuisine_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="preparation_id">
      Preparation
    </label>

    <%= select_tag(:preparation_id, options_from_collection_for_select(Preparation.all, :id, :name, @recipe.preparation_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="cook_time">
      Cook time
    </label>

    <input type="text" id="cook_time" name="cook_time" class="form-control">
  </div>

  <div class="form-group">
    <label for="food_id">
      Food
    </label>

    <%= select_tag(:food_id, options_from_collection_for_select(Category.all, :id, :name, @recipe.food_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @recipe.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
