<!-- Form favorite start -->
<form action="/create_favorite_from_category" method="post">
<!-- Form favorite end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @favorite.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <input type="hidden" name="category_id" value="<%= @category.id %>">
  <!-- Input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
