<form action="/create_favorite_from_category" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="category_id" value="<%= @category.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
